.weekly-forecast {
	position: relative;
	left: 1px;
	bottom: 10px;
	width: 1820px;
	height: 200px;
	border-radius: 10px;
	appearance: none;
	background: none;
	border: none;
	outline: none;
	background-color: rgb(228, 227, 240, 0.5);
	margin-left: 50px;
	text-align: center;
}

.weekly-forecast-header {
	position: relative;
	top: 5px;
}
