.modal {
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	display: flex;
	justify-content: left;
	align-items: left;
}

.modal-box {
	width: 400px;
	background-color: white;
	border-radius: 10px;
	position: relative;
	top: 35px;
	left: 20px;
}

.modal-header {
	padding: 10px;
	text-align: center;
	font-weight: bold;
}

.modal-title {
	margin: 0;
}

.modal-body {
	padding: 10px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	text-align: center;
	font-size: 14px;
}

.modal-footer {
	padding: 10px;
}

.modal-button {
	appearance: none;
	background: none;
	border: none;
	outline: none;
	background-color: rgb(228, 227, 240);
	border-radius: 10px;
	height: 30px;
	width: 60px;
	margin-left: 160px;
}

.modal-button:hover {
	cursor: pointer;
	background-color: aqua;
	transform: scale(1.1);
}
