.current-weather {
	margin-top: 75px;
	max-width: 100%;
	height: 550px;
	border-radius: 10px;
	appearance: none;
	background: none;
	border: none;
	outline: none;
	background-color: rgb(228, 227, 240, 0.5);
	/* margin-left: 10px; */
	margin-left: 10px;
	margin-right: 10px;
}

.current-weather-header,
.current-location,
.current-temperature,
.date-and-time,
.weather-conditions {
	padding-top: 10px;
	padding-left: 10px;
}

.current-weather-header,
.weekly-forecast-header,
.more-weather-details-header {
	text-decoration: underline;
}

.current-location {
	position: relative;
	top: 40px;
}

.current-temperature {
	position: relative;
	top: 100px;
}

.date-and-time {
	position: relative;
	top: 170px;
}

.weather-conditions {
	position: relative;
	top: 240px;
}

.search-weather {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-location {
	margin-top: 75px;
	width: 700px;
	height: 30px;
	border-radius: 10px;
	appearance: none;
	background: none;
	border: none;
	outline: none;
	background-color: rgb(228, 227, 240);
}

.search-button {
	height: 36px;
	width: 70px;
	margin-left: 10px;
	border-radius: 10px;
	margin-top: 75px;
	appearance: none;
	background: none;
	border: none;
	outline: none;
	background-color: rgb(228, 227, 240);
}

.search-button:hover {
	cursor: pointer;
	background-color: aqua;
	transform: scale(1.1);
}

.weekly-forecast-box {
	text-align: center;
	margin-top: 10px;
	position: relative;
	top: -180px;
	left: -40px;
}

.day-one-p,
.day-two-p,
.day-three-p {
	font-weight: bold;
}

.more-weather-details-box {
	position: relative;
	bottom: 546px;
	left: 875px;
}

span {
	font-weight: bold;
}
