* {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 80px 1fr 80px; */
	background: url('/assets/bluesky.png');
	width: 100vw;
	height: 100vh;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
}
